{% extends 'base.html' %}
{% load static %}
{% block title %}

{% endblock %}

{% block body %}
  <main class="main-area fix">
    <!-- contact-area -->
    <section class="contact-area">
      <div class="container">
        <div class="contact-box-wrapper">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-9">
              <div class="contact-box">
                <div class="contact-icon">
                  <span class="overlay-icon"><i class="fas fa-check"></i></span>
                  <i class="far fa-map"></i>
                </div>
                <div class="contact-content">
                  <h5 class="title">Office Address</h5>
                  <p class="contact-desc">6314 Alpine Tree Ave, Las Vegas, NV 89139, USA</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-9">
              <div class="contact-box">
                <div class="contact-icon">
                  <span class="overlay-icon"><i class="fas fa-check"></i></span>
                  <i class="fas fa-phone"></i>
                </div>
                <div class="contact-content">
                  <h5 class="title">Phone Number</h5>
                  <p class="contact-desc">+1 (702) 901‑9931</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-9">
              <div class="contact-box">
                <div class="contact-icon">
                  <span class="overlay-icon"><i class="fas fa-check"></i></span>
                  <i class="fas fa-globe"></i>
                </div>
                <div class="contact-content">
                  <h5 class="title">Web Connect</h5>
                  <p class="contact-desc">
                    support@herbapurenaturals.com <br /> herbapurenaturals.com
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <!-- main-area-end -->
{% endblock %}
